---
// src/pages/[...locale]/dj.astro
import "@/styles/global.css";
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { defaultLang, locales } from "@/../i18n.config";
import { getI18nInfo } from "@/utils/i18n";
import { djSocialNetworksList } from "@/constants/socialNetworksList";
import { djBio } from "@/constants/photos";
import { getLongSoundCloudTracksLinks } from "@/utils/getSoundCloudTracksLinks";
import SoundCloudPlayer from "@/components/SoundCloudPlayer.astro";
import Calendar from "@/components/Calendar.astro";
import { djGoogleCalendarSrc } from "@/constants/calendar";
import Separador from "@/components/Separador.astro";

// Genera rutas estáticas: "/", "/en"
export function getStaticPaths() {
  return locales.map((lang) => {
    if (lang === defaultLang) {
      return { params: { locale: undefined } };
    }
    return { params: { locale: lang } };
  });
}

const { dictionary, langParam } = await getI18nInfo(Astro.params.locale);
const { djPage } = dictionary;

const setsLinks = await getLongSoundCloudTracksLinks();
---

<BaseLayout
  title={djPage.title}
  lang={langParam}
  description={djPage.description}
>
  <PageLayout
    title={djPage.title}
    phrase={djPage.heroSection.heading}
    socialNetworksList={djSocialNetworksList}
  >
    <!-- Sección Biografía -->
    <section class="w-full">
      <div class="mb-4 flex w-full items-center gap-4">
        <h3 class="shrink-0 text-2xl font-bold md:text-3xl">
          {djPage.bio.title}
        </h3>
        <Separador />
      </div>
      <div
        class="flex w-full flex-col items-center gap-8 md:flex-row md:items-stretch md:gap-5"
      >
        <p class="w-full text-justify text-base md:w-1/2 md:text-lg">
          {djPage.bio.text}
        </p>
        <div class="relative h-80 w-full md:h-auto md:w-1/2">
          <Image
            src={djBio}
            alt={djPage.bio.altImage}
            class="absolute h-full w-full rounded-lg object-cover object-top shadow-lg"
            loading="eager"
          />
        </div>
      </div>
    </section>

    <!-- Sección Sets de SoundCloud -->
    <section class="w-full">
      <div class="mb-4 flex w-full items-center gap-4">
        <Separador />
        <h3 class="shrink-0 text-2xl font-bold md:text-3xl">
          {djPage.sets.title}
        </h3>
      </div>
      <div class="flex h-auto w-full flex-col justify-center gap-5">
        {
          setsLinks?.map((link, index) => {
            if (index === 0) {
              return <SoundCloudPlayer trackUrl={link} />;
            }

            return <SoundCloudPlayer trackUrl={link} loading="lazy" />;
          })
        }
      </div>
    </section>

    <!-- Sección Calendario -->
    <section class="w-full">
      <div class="mb-4 flex w-full items-center gap-4">
        <h3 class="shrink-0 text-2xl font-bold md:text-3xl">
          {djPage.calendar.title}
        </h3>
        <Separador />
      </div>
      <Calendar
        googleCalendarSrc={djGoogleCalendarSrc}
        title={djPage.calendar.calendarTitle}
      />
    </section>
  </PageLayout>
</BaseLayout>
