---
// src/pages/[...locale]/dj.astro
import "@/styles/global.css";
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { defaultLang, locales } from "@/../i18n.config";
import { getI18nInfo } from "@/utils/i18n";
import { djSocialNetworksList } from "@/constants/socialNetworksList";
import { djBio } from "@/constants/photos";
import { getLongSoundCloudTracksLinks } from "@/utils/getSoundCloudTracksLinks";
import SoundCloudPlayer from "@/components/SoundCloudPlayer.astro";
import Calendar from "@/components/Calendar.astro";
import { djGoogleCalendarSrc } from "@/constants/calendar";
import Separador from "@/components/Separador.astro";
import { getYoutubeSetsInfo } from "@/utils/getYoutubeVideosInfo";
import YouTubePlayer from "@/components/YouTubePlayer.astro";
import Carousel from "@/components/Carousel.astro";
import { djEmail } from "@/constants/email";

// Genera rutas estáticas: "/", "/en"
export function getStaticPaths() {
  return locales.map((lang) => {
    if (lang === defaultLang) {
      return { params: { locale: undefined } };
    }
    return { params: { locale: lang } };
  });
}

const { dictionary, langParam } = await getI18nInfo(Astro.params.locale);
const { djPage } = dictionary;

const setsLinks = await getLongSoundCloudTracksLinks();
const youTubeSetsInfo = await getYoutubeSetsInfo();
---

<BaseLayout
  title={djPage.title}
  lang={langParam}
  description={djPage.description}
>
  <PageLayout
    title={djPage.title}
    phrase={djPage.heroSection.heading}
    socialNetworksList={djSocialNetworksList}
  >
    <div class="mb-4 flex w-full items-center gap-4">
      <div class="relative h-150 w-full md:h-150">
        <Image
          src={djBio}
          alt={djPage.bio.altImage}
          class="absolute h-full w-full rounded-lg object-cover object-top shadow-lg"
          loading="eager"
        />
      </div>
    </div>

    <!-- Sección Sets de SoundCloud -->
    <section class="w-full">
      <div class="mb-4 flex w-full items-center gap-4">
        <Separador />
        <h3 class="shrink-0 text-2xl font-bold md:text-3xl">
          {djPage.sets.title}
        </h3>
        <Separador />
      </div>
      <div class="flex h-auto w-full flex-col justify-center gap-5">
        <Carousel>
          <!-- Mapeo de YouTube -->
          {
            youTubeSetsInfo?.map((setInfo) => (
              <YouTubePlayer title={setInfo.title} videoId={setInfo.videoId} />
            ))
          }
          <!-- Mapeo de SoundCloud -->
          {setsLinks?.map((link) => <SoundCloudPlayer trackUrl={link} />)}
        </Carousel>
      </div>
    </section>

    <!-- Sección Calendario -->
    <section class="w-full">
      <div class="mb-4 flex w-full items-center gap-4">
        <Separador />
        <h3 class="shrink-0 text-2xl font-bold md:text-3xl">
          {djPage.calendar.title}
        </h3>
        <Separador />
      </div>
      <Calendar
        googleCalendarSrc={djGoogleCalendarSrc}
        title={djPage.calendar.calendarTitle}
      />
    </section>

    <!-- Sección About -->
    <section class="w-full">
      <div class="mb-4 flex w-full items-center gap-4">
        <Separador />
        <h3 class="shrink-0 text-2xl font-bold md:text-3xl">
          {djPage.bio.title}
        </h3>
        <Separador />
      </div>
      <div class="flex w-full flex-col items-center gap-8">
        <p class="w-full text-justify text-base md:text-lg">
          {djPage.bio.text}
        </p>
      </div>
      <div class="flex w-full flex-col items-center gap-8">
        <h3 class="shrink-0 text-2xl font-bold md:text-xl">Contacto</h3>
        <p class="w-full text-justify text-base md:text-lg">
          {djEmail}
        </p>
      </div>
    </section>

    <p>
      <!-- 5. Galería / Media (Elemento Conveniente)<br />

      Fotos de Actuación: Imágenes de alta calidad de tus eventos. Muestra al
      público, las luces, tu energía en la cabina.<br />
      Vídeos: Un "Sizzle Reel" o "Aftermovie" (un vídeo corto de 1-2 minutos con
      los mejores momentos de varias actuaciones) es increíblemente efectivo. Incrústalos
      desde YouTube o Vimeo.<br /> -->
      <!-- <br /><br />
      6. Press Kit & Rider (Elemento Conveniente SÚPER importante)<br />
      Descargar EPK (Electronic Press Kit): Un botón para descargar un archivo .zip
      o un PDF que contenga:<br />
      Tu biografía (corta y larga).<br />
      Tus fotos de prensa oficiales (alta resolución, varias opciones).<br />
      Tu logo (en .png con fondo transparente).<br />
      Enlaces a tus redes y música.<br />
      Technical Rider (Rider Técnico): Una lista clara del equipo que necesitas para
      pinchar (Ej: "3x Pioneer CDJ-3000, 1x Allen & Heath Xone:96"). Esto es fundamental
      para cualquier contratación seria.<br />
      <br /><br /> -->
    </p>
  </PageLayout>
</BaseLayout>
