---
// src/pages/[...locale]/producer.astro
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { defaultLang, locales } from "@/../i18n.config";
import { getI18nInfo } from "@/utils/i18n";
import { getShortSoundCloudTracksLinks } from "@/utils/getSoundCloudTracksLinks";
import SoundCloudPlayer from "@/components/SoundCloudPlayer.astro";

// Genera rutas estáticas: "/", "/en"
export function getStaticPaths() {
  return locales.map((lang) => {
    if (lang === defaultLang) {
      return { params: { locale: undefined } };
    }
    return { params: { locale: lang } };
  });
}

const { dictionary, langParam } = await getI18nInfo(Astro.params.locale);
const { producerPage } = dictionary;

const tracksLinks = await getShortSoundCloudTracksLinks();
---

<BaseLayout
  title={producerPage.title}
  lang={langParam}
  description={producerPage.description}
>
  <PageLayout title={producerPage.title} phrase={producerPage.heading}>
    <div class="flex min-h-screen w-full flex-col overflow-y-auto md:flex-col">
      <h1>{producerPage.heading}</h1>
      {
        tracksLinks?.map((link) => {
          return <SoundCloudPlayer trackUrl={link} />;
        })
      }
    </div>

    <!-- Inicio: (Foto impactante + Frase ganadora").

Discografía: (Sus mejores trabajos).

Servicios: (Qué ofrece y, opcionalmente, el "Antes y Después").

Tienda / Beats: (Venta directa).

Bio: (Su historia). -->
  </PageLayout>
</BaseLayout>
