---
// src/pages/[...locale]/producer.astro
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { i18n, type Lang, defaultLang } from "@/../i18n.config";
import { getDictionary } from "@/utils/i18n";
import { soundCloudApi } from "@/server/services/soundcloud/index";
import SoundCloudPlayer from "@/components/SoundCloudPlayer.astro";

// Genera rutas estáticas: "/", "/en"
export function getStaticPaths() {
  return Object.keys(i18n).map((lang) => {
    if (lang === defaultLang) {
      return { params: { locale: undefined } };
    }
    return { params: { locale: lang } };
  });
}

const langParam = (Astro.params.locale || defaultLang) as Lang;
const { description, title } = i18n[langParam];
const dictionary = await getDictionary(langParam);

const songsInfo = await soundCloudApi.tracks.getFromUser("itsjowyhouse");
const { producerPage } = dictionary;
---

<BaseLayout title={title} lang={langParam} description={description}>
  <PageLayout title={producerPage.title}>
    <div class="flex min-h-screen w-full flex-col overflow-y-auto md:flex-col">
      <h1>{producerPage.heroSection.heading}</h1>
      {
        songsInfo?.map((songInfo) => {
          if (songInfo.duration < 600000) {
            return(<SoundCloudPlayer
              trackUrl={songInfo ? songInfo.permalink_url : ""}
            />)
          }
        })
      }
    </div>
  </PageLayout>
</BaseLayout>
