---
import { randomUUID } from "node:crypto";

interface ModalProps {
  buttonTitle: string;
  modalTitle?: string;
}

const { buttonTitle, modalTitle = "" } = Astro.props as ModalProps;

const modalId = `modal_${randomUUID()}`;
---

<button class="btn bg-white text-black font-bold hover:scale-125 transition-all duration-300 z-10 relative" data-open-modal={modalId}>{buttonTitle}</button>

<dialog id={modalId} class="modal modal-bottom text-black sm:modal-middle">
  <div class="modal-box bg-white">
    {modalTitle && <h1 class="text-lg font-bold mb-5" aria-label={modalTitle}>{modalTitle}</h1>}
    <slot />
    <div class="modal-action">
      <button
        class="btn absolute top-2 right-2 btn-circle btn-ghost btn-sm"
        data-close-modal={modalId}
      >
        X
      </button>
    </div>
  </div>
  <div class="modal-backdrop" data-close-modal={modalId}></div>
</dialog>

<script>
  document.addEventListener("astro:page-load", () => {
    const openButtons = document.querySelectorAll("[data-open-modal]");
    const closeButtons = document.querySelectorAll("[data-close-modal]");

    openButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const modalId = button.getAttribute("data-open-modal");
        const modal = modalId
          ? (document.getElementById(modalId) as HTMLDialogElement)
          : null;
        modal?.showModal();
      });
    });

    closeButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const modalId = button.getAttribute("data-close-modal");
        const modal = modalId
          ? (document.getElementById(modalId) as HTMLDialogElement)
          : null;
        modal?.close();
      });
    });
  });
</script>
