---
import NavPhoto from "./NavPhoto.astro";

interface NavPhotoSectionProps {
  image: any;
  title?: string;
  color: string; // hex, rgb o nombre de Tailwind traducido
  mask: string;
  extraClass?: string;
}

const {
  image,
  title = "JOWY",
  color,
  mask,
  extraClass = "",
} = Astro.props as NavPhotoSectionProps;
---

<div
  class="bg-color-primary group relative flex h-[100dvh] w-full cursor-pointer flex-col overflow-hidden md:flex-1"
  style={`--section-color: ${color};`}
>
  <!-- Triángulo -->
  <div
    class="div-poligono mask-fade-diagonal absolute top-0 right-0 bottom-0 left-0"
    style="background-color: var(--section-color);"
  >
  </div>

  <!-- Título -->
  <h1
    class="underline-animation absolute top-[10dvh] left-1/2 -translate-x-1/2 whitespace-nowrap text-center font-bold drop-shadow-lg transition-all duration-500 ease-in-out group-hover:scale-110 sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl"
    style="color: var(--section-color); text-shadow: 0 0 2px grey;"
  >
    {title}
  </h1>
  <style>
    .underline-animation::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px; /* distancia del texto */
      width: 100%;
      height: 3px; /* grosor de la línea */
      background-color: currentColor; /* usa el mismo color del texto */
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s ease-in-out;
    }

    .group:hover .underline-animation::after {
      transform: scaleX(1);
    }
  </style>

  <!-- Imagen -->
  <NavPhoto image={image} className={`mt-auto ${mask} ${extraClass}`} />
</div>
