---
import NavPhoto from "./NavPhoto.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getI18nInfo } from "@/utils/i18n";

interface NavPhotoSectionProps {
  image: any;
  title?: string;
  color: string; // hex, rgb o nombre de Tailwind traducido
  mask: string;
  extraClass?: string;
  link?: string;
  neonGlowColor?: string;
}

const {
  image,
  title = "JOWY",
  color,
  mask,
  extraClass = "",
  link = Astro.url.pathname,
  neonGlowColor,
} = Astro.props as NavPhotoSectionProps;

const { langParam } = await getI18nInfo(Astro.params.locale);

const titleStyle = `
  color: var(--section-color);
  text-shadow: ${
    neonGlowColor
      ? `0 0 5px var(--section-color), 0 0 8px var(--section-color), 0 0 15px ${neonGlowColor}, 0 0 25px ${neonGlowColor}`
      : "0 0 2px grey"
  };
`;
---

<a
  href={getRelativeLocaleUrl(langParam, `/${link}`)}
  class="bg-color-primary group relative flex h-dvh w-full cursor-pointer flex-col overflow-hidden md:flex-1"
  style={`--section-color: ${color};`}
>
  <!-- Triángulo -->
  <div
    class="div-poligono mask-fade-diagonal absolute top-0 right-0 bottom-0 left-0 grayscale transition-all duration-500 ease-in-out group-hover:scale-110 group-hover:grayscale-0"
    style="background-color: var(--section-color);"
  >
  </div>

  <!-- Título -->
  <h1
    class="underline-animation absolute top-[10dvh] left-1/2 z-900 -translate-x-1/2 text-center font-bold whitespace-nowrap drop-shadow-lg transition-all duration-500 ease-in-out group-hover:scale-110 sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl"
    style={titleStyle}
  >
    {title}
  </h1>
  <style>
    .underline-animation::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px; /* distancia del texto */
      width: 100%;
      height: 3px; /* grosor de la línea */
      background-color: currentColor; /* usa el mismo color del texto */
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s ease-in-out;
    }

    .group:hover .underline-animation::after {
      transform: scaleX(1);
    }
  </style>

  <!-- Imagen -->
  <NavPhoto image={image} className={`mt-auto ${mask} ${extraClass}`} />
</a>
