---
// scr/layout/BaseLayout.astro
import { SEO } from "astro-seo";
import ThemeButton from "@/components/ThemeButton.astro";
import LangSwitcher from "@/components/LangSwitcher.astro";
import { defaultLang } from "../../i18n.config";

interface BaseLayoutProps {
  title?: string;
  description?: string;
  lang: string;
}

const { title = "Jowy", description = "Productor musical · DJ · Sonidista", lang = defaultLang } =
  Astro.props as BaseLayoutProps;
---

<!doctype html>
<html lang={lang} class="transition-colors duration-500 ease-in-out">
  <head>
    <SEO
      title=`${title} | Jowy Portfolio`
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "https://tusitio.com/og-image.png",
        },
        optional: {
          siteName: "DJ Jowy",
        },
      }}
      twitter={{
        card: "summary_large_image",
      }}
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <script is:inline>
    (() => {
      const storedTheme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      const theme = storedTheme || (prefersDark ? "dark" : "light");

      // Aplica la clase antes de renderizar
      document.documentElement.classList.toggle("dark", theme === "dark");
      document.documentElement.setAttribute(
        "data-theme",
        theme === "dark" ? "github-dark-default" : "github-light-default"
      );
    })();
  </script>
  </head>
  <body
    class="dark:text-text-dark bg-primary font-sans text-text transition-colors duration-500 ease-in-out dark:bg-primary-dark"
  >
    <ThemeButton />
    <LangSwitcher currentLang={lang} />

    <slot />
  </body>
</html>
