---
// scr/layout/BaseLayout.astro
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
// import ThemeButton from "@/components/ThemeButton.astro";
import LangSwitcher from "@/components/LangSwitcher.astro";
import { defaultLang } from "../../i18n.config";
import { djCutPhoto, soundCutPhoto, producerPhoto } from "@/constants/photos";

interface BaseLayoutProps {
  title?: string;
  description?: string;
  lang: string;
}

const {
  title = "Jowy",
  description = "Productor musical · DJ · Sonidista",
  lang = defaultLang,
} = Astro.props as BaseLayoutProps;
---

<!doctype html>
<html lang={lang} class="scroll-smooth" transition:animate="none">
  <head>
    <SEO
      title=`${title} | Jowy Portfolio`
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "https://tusitio.com/og-image.png",
        },
        optional: {
          siteName: "DJ Jowy",
        },
      }}
      twitter={{
        card: "summary_large_image",
      }}
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script is:inline>
      (function () {
        // try {
        //   const storedTheme = localStorage.getItem("theme");
        //   const prefersDark = window.matchMedia(
        //     "(prefers-color-scheme: dark)"
        //   ).matches;
        //   const theme = storedTheme || (prefersDark ? "dark" : "light");

        //   const html = document.documentElement;
        //   if (theme === "dark") {
        //     html.classList.add("dark");
        //     html.setAttribute("data-theme", "github-dark-default");
        //   } else {
        //     html.classList.remove("dark");
        //     html.setAttribute("data-theme", "github-light-default");
        //   }
        // } catch (e) {
        //   // fallback silencioso
        // }
        const html = document.documentElement;
        html.classList.add("dark");
        html.setAttribute("data-theme", "github-dark-default");
      })();
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" as="image" href={djCutPhoto.src} />
    <link rel="preload" as="image" href={soundCutPhoto.src} />
    <link rel="preload" as="image" href={producerPhoto.src} />

    <ClientRouter />
  </head>
  <body
    class="overflow-y-auto bg-primary-dark font-sans text-text-dark transition-colors duration-500 ease-in-out [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:m-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-neutral-700"
    transition:animate="fade"
  >
    <!-- <ThemeButton /> -->
    <div class="fixed top-5 right-5 pt-[1dvh] flex flex-row justify-center align-middle gap-8 z-9999">
      <LangSwitcher currentLang={lang} />
    </div>
    <slot />
  </body>
</html>
