---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { defaultLang } from "../../i18n.config";
import { homeLightIcon, homeDarkIcon } from "@/constants/themeIcons";
import { type SocialNetworksList } from "@/types/socialNetworksList";
import SocialNetworksListComponent from "@/components/SocialNetworksList.astro";

interface PageLayoutProps {
  title: string;
  phrase?: string;
  socialNetworksList?: SocialNetworksList;
}

const { title, phrase, socialNetworksList } = Astro.props as PageLayoutProps;

const currentLang = Astro.currentLocale ? Astro.currentLocale : defaultLang;
const homeUrl = getRelativeLocaleUrl(currentLang, "/");
---

<a href={homeUrl}>
  <Image
    id="nav-home-icon"
    src={homeDarkIcon}
    alt="Home Icon"
    class="fixed top-4 left-5 z-9999 h-[3vw] max-h-10 min-h-5 w-auto transition duration-300 ease-in-out hover:scale-120"
    loading="eager"
    fetchpriority="high"
    format="png"
  />
</a>

{
  socialNetworksList && (
    <div class="fixed left-4 top-1/2 z-50 -translate-y-1/2">
      <SocialNetworksListComponent socialNetworksList={socialNetworksList} />
    </div>
  )
}

<main class="mx-auto max-w-3xl px-6 py-12">
  <h1
    class="mb-15 flex w-full justify-center align-middle text-5xl font-extrabold"
  >
    {title}
  </h1>
  <div
    class="y-center flex min-h-screen w-full flex-col items-center gap-8 overflow-y-auto align-middle"
  >
    {
      phrase && (
        <h2 class="flex w-full justify-center align-middle">{phrase}</h2>
      )
    }
    <slot />
  </div>
</main>

<script>
  // import { type Theme } from "@/types/theme.d";
  // import { HOME_ICONS, getCurrentTheme } from "@/theme/theme"

  // const homeIcon = document.getElementById("nav-home-icon") as HTMLImageElement;
  // homeIcon.src = HOME_ICONS[getCurrentTheme()].src;
  // // Escuchar cambios
  // window.addEventListener("themechange", (e: any) => {
  //   homeIcon.style.opacity = "0";
  //   const theme: Theme  = e.detail;

  //   setTimeout(() => {
  //     homeIcon.src = HOME_ICONS[theme].src;
  //     homeIcon.alt = theme + " home icon";
  //     homeIcon.style.opacity = "1";
  //   }, 200);
  // });
</script>
