---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getI18nInfo } from "@/utils/i18n";
import { homeLightIcon, homeDarkIcon } from "@/constants/themeIcons";
import { type SocialNetworksList } from "@/types/socialNetworksList";
import SocialNetworksListComponent from "@/components/SocialNetworksList.astro";
import { generalEmail } from "@/constants/email";

interface PageLayoutProps {
  title: string;
  phrase?: string;
  socialNetworksList?: SocialNetworksList;
}

const { title, phrase, socialNetworksList } = Astro.props as PageLayoutProps;

const { dictionary, langParam } = await getI18nInfo(Astro.params.locale);
const { indexPage } = dictionary;

const homeUrl = getRelativeLocaleUrl(langParam, "/");
---

<a href={homeUrl}>
  <Image
    id="nav-home-icon"
    src={homeDarkIcon}
    alt="Home Icon"
    class="fixed top-4 left-5 z-9999 h-[3vw] max-h-10 min-h-5 w-auto transition duration-300 ease-in-out hover:scale-120"
    loading="eager"
    fetchpriority="high"
    format="png"
  />
</a>

{
  socialNetworksList && (
    <div class="fixed top-1/2 left-4 z-50 -translate-y-1/2">
      <SocialNetworksListComponent socialNetworksList={socialNetworksList} />
    </div>
  )
}

<main class="mx-auto max-w-7xl px-20 py-12">
  <h1
    class="mb-15 flex w-full justify-center align-middle text-6xl font-extrabold"
  >
    {title}
  </h1>
  <div
    class="y-center flex min-h-screen w-full flex-col items-center gap-8 overflow-y-auto align-middle"
  >
    {
      phrase && (
        <h2 class="flex w-full justify-center align-middle italic">{phrase}</h2>
      )
    }
    <slot />
  </div>
</main>

<footer
  class="mt-20 w-full border-t border-gray-700 px-6 py-8 text-center text-sm text-gray-400"
>
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-8 md:flex-row"
  >
    <!-- Quick Links -->
    <nav class="flex flex-wrap justify-center gap-x-6 gap-y-2">
      <a href={homeUrl} class="hover:text-white">{dictionary.common.home}</a>
      {
        indexPage.sections.map(
          (section) =>
            section.link && (
              <a
                href={getRelativeLocaleUrl(langParam, `/${section.link}`)}
                class="hover:text-white"
              >
                {section.title}
              </a>
            )
        )
      }
    </nav>

    <!-- Social Networks -->
    {
      socialNetworksList && (
        <SocialNetworksListComponent
          socialNetworksList={socialNetworksList}
          orientation="horizontal"
          loadingMode="lazy"
        />
      )
    }
  </div>

  <!-- Copyright and Legal -->
  <div class="mt-8">
    <p>
      &copy; {new Date().getFullYear()}
      {dictionary.common.footer.copyright}
    </p>
    <div class="mt-2 flex flex-wrap justify-center gap-x-4">
      <a href={`mailto:${generalEmail}`} class="hover:text-white">
        {generalEmail}
      </a>
      <!-- <span class="text-gray-500">|</span>
      <a href="#" class="hover:text-white">
        {dictionary.common.footer.privacyPolicy}
      </a> -->
    </div>
  </div>
</footer>

<script>
  // import { type Theme } from "@/types/theme.d";
  // import { HOME_ICONS, getCurrentTheme } from "@/theme/theme"

  // const homeIcon = document.getElementById("nav-home-icon") as HTMLImageElement;
  // homeIcon.src = HOME_ICONS[getCurrentTheme()].src;
  // // Escuchar cambios
  // window.addEventListener("themechange", (e: any) => {
  //   homeIcon.style.opacity = "0";
  //   const theme: Theme  = e.detail;

  //   setTimeout(() => {
  //     homeIcon.src = HOME_ICONS[theme].src;
  //     homeIcon.alt = theme + " home icon";
  //     homeIcon.style.opacity = "1";
  //   }, 200);
  // });
</script>
